# Virtual environment
venv/
.env
*.pyc
__pycache__/
*.pyo
*.pyd

app/.venv

# IDE files
.vscode/
.idea/
*.swp

# Logs
logs/
*.log

# Bytecode
*.py[cod]

# OS files
.DS_Store
Thumbs.db

# Dependency files
requirements.txt.lock


# iss_cargo.db

cpp_placement_service/*